tr:nth-child(even) {
background-color: #ebebeb;
}

h1 {
font: bold 20px Verdana;
}

body {
font: 14px Verdana;
}

div.a {
font: bold 13px Verdana;
}

div.b {
font: italic 12px Verdana;
}

table.myFormat tr td {
font-variant: small-caps;
font-size: 12px
}

table.myFormat th {
font-size: 14px;
}
