tr:nth-child(even) {
  background-color: #ebebeb;
}

body {
  font-family: helvetica;
}

h1 {
  font-family: helvetica;
  font-weight: bold
  font-size: 135%;
}

p1 {
  font-family: helvetica;
  font-weight: bold
  font-size: 85%;
}

p2 {
  font-family: helvetica;
  font-style: italic
  font-size: 85%;
}
